.navbar{
  border-left: 2px solid white;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  position: fixed;
  width: 100%;
  display: block;
  font-color: white;
}

a:visited {
  color: pink;
}

body{
  background-image: url(ales-krivec-217107.jpg);
  background-size: cover;
  color: white;
  font-weight: bold;
  padding: ;
}

#profilepic{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
.container1{
  margin: auto;
  position: relative;
  width: 80%;
  font-family: 'Kalam', cursive;
  padding: 30px;
}

.container2{
  margin: auto;
  position: relative;
  width: 80%;
}

.container3{
  margin: auto;
  position: relative;
  display: inline-block;
  width: 48%;
  line-height: 170%;
}

.container4{
  margin: auto;
  position: relative;
  display: inline-block;
  width: 48%;
  line-height: 170%;
  left: 3%;
}

.container5{
  margin: auto;
  position: relative;
  padding: 50px;
}

p, h1, h2, h3{
  text-align: center;
}

h1{
  font-size: 50px;
  padding: 0;
  margin: 0;
}

h2{
  padding: 0;
  margin: 0;
}

#resumetitle{
  padding: 40px;
}

.job{
  text-decoration: underline white;
}

#box1{
  margin: auto;
  position: relative;
  display: block;
  width: 350px;
  height: 550px;
  right: 25%;
  padding-top: 15px;
  border: 2px solid white;
  background-color: rgba(193, 66, 66, 0.31);
}

#nulpic{
  position: relative;
  display: inline-block;
  border: 2px solid white;
  height: auto;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#box2{
  margin-top: ;
  position: relative;
  display: inline-block;
  padding-top: 15px;
  width: 350px;
  height: 550px;
  left: 25%;
  border: 2px solid white;
  background-color: rgba(193, 66, 66, 0.31);
}

#box3{
  margin: auto;
  position: relative;
  display: block;
  padding-top: 15px;
  width: 350px;
  height: 550px;
  right: 25%;
  border: 2px solid white;
  background-color: rgba(193, 66, 66, 0.31);
}